<h4>Page for <%= @user.username %> </h4>

<% bread_crumb = link_to('All Posts', posts_path) + " &raquo; By #{@user.username}".html_safe %>
<%= render 'shared/content_title', title: bread_crumb %> 

<% @user.posts.each do |post| %>
<%= render 'posts/post', post: post %>


<% end %> 