<h3>Posts</h3>



<% @posts.each  do |post| %>
<div class="well span8">
  <% post.categories.each do |cat| %>
    
    <%= render '/categories/category', category: cat %>
  <% end %>
  <h5> <%= link_to post.title, post_path(post) %> </h5> 
  Posted by <%= post.creator %> at <%= post.created_at %>
</div>
<% end %> 
